

@model Wagemanagement.Models.Subsidy_Records
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditJournal</title>
    <link rel="stylesheet" type="text/css" href="~/static/layui-v2.6.4/layui-v2.6.4/layui/css/layui.css" />
    <style>
        .layui-form-select, .layui-input, .layui-textarea {
            width: 295px;
        }
    </style>
</head>
<body>
    <div>
        <form class="layui-form" action="" lay-filter="formTest">
            <div class="layui-form-item">
                <label class="layui-form-label">考勤纪录编号</label>
                <div class="layui-input-block">
                    <input type="text" name="SR_Id" disabled required lay-verify="required" autocomplete="off" class="layui-input layui-disabled">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">工号</label>
                <div class="layui-input-block">
                    <input type="text" name="Staff_id" disabled required lay-verify="required" autocomplete="off" class="layui-input  layui-disabled">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">补贴名称</label>
                <div class="layui-input-block">
                    <select name="Subsidy_Name">
                        @foreach (var Sub in ViewBag.info1)
                        {
                            <option value="@Sub.Subsidy_Name">@Sub.Subsidy_Name</option>
                        }
                    </select>
                </div>
            </div>
           
            <div class="layui-form-item">
                <label class="layui-form-label">日期</label>
                <div class="layui-input-block">
                    <input type="text" name="SR_date" id="SR_date1" autocomplete="off" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>

                </div>
            </div>
        </form>
    </div>
    <script src="~/static/layui-v2.6.4/layui-v2.6.4/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        layui.use(['form','laydate'], function () {
          var laydate = layui.laydate;
        var form = layui.form;
               form.val("formTest",
                   {
                       "SR_Id": "@Model.SR_Id",
                       "Staff_id": "@Model.Staff_id",
                       "Subsidy_Name": "@ViewBag.info",
                       "SR_date": "@Model.SR_date",
                      
                   });
            //日期
            laydate.render({
                elem: '#SR_date'


            });
            laydate.render({
                elem: '#SR_date1'


            });
        //监听提交
        form.on('submit(formDemo)', function (data) {
            console.log(data)
            layer.msg(JSON.stringify(data.field));
            var id = data.field["SR_Id"];
            var Staff_id = data.field["Staff_id"];
            var Subsidy_Name = data.field["Subsidy_Name"];
            var SR_date = data.field["SR_date"];
            $.post({
                url: "/SubsidyR/UpdateSubR",
                data: { SR_Id:id,Staff_id:Staff_id,Subsidy_Name:Subsidy_Name,SR_date:SR_date},
                success: res => {
                    if (res == "True") {
                        //从父级关闭所有层
                        parent.layer.closeAll();
                        parent.layer.msg("修改成功");
                        //调用父页面的分页确定按钮的点击事件
                        parent.document.getElementsByClassName("layui-laypage-btn")[1].click();
                    } else {
                        layer.msg("不能重复添加该月份该奖金此员工的补贴纪录");
                    }
                }
            });
            return false;
        });
    });
    </script>
</body>
</html>

